node_modules/
**/node_modules/

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

.auth/
**/.auth/

debug/
**/debug/
downloads/
**/downloads/

dist/
**/dist/
build/
**/build/
coverage/
**/coverage/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

mnt/
**/mnt/
_archive_local/
*.zip
